.booking-container {
    display: flex;

}

.booking-information {
    font-size: 16px;
    margin-bottom: 10px;
}

.booking-time {
    font-size: 16px;
    margin-bottom: 10px;
}

.booking-link {
    font-size: 16px;
    margin-bottom: 10px;
}
.booking-question {
    font-size: 16px;
    margin-bottom: 10px;
     word-wrap: break-word;
     display: flex;

}

.booking-label {
    font-weight: bold;
    margin-left:10px;
}

.join-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px auto; /* Center the button horizontally */
    display: block; /* Make the button a block-level element to reduce width */
    max-width: 200px; /* Set a maximum width for the button */
    text-align: center; /* Center the text inside the button */
}

.join-button:hover {
    background-color: #0056b3;
}

