.filter_doctor:focus,.sort_doctor:focus{
    box-shadow:none;
}
.filters_list{
    width:100%;
    background:white;
    padding:3px;
    height: auto;
    border-radius:10px;
}
.filter_pill{
    padding:5px;
    background:#eeeeee;
    border-radius:10px;
    font-size:11px;
    margin-top:2px;
}
.filter_pill i{
    cursor:pointer;
}