.department-button {
        height: 37px;
        border: none;
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 16px;
        background-color: #ffffff;
        color: #333;
        cursor: pointer;
        margin-right: 10px;
        display: flex;
        align-items: center;
        white-space: nowrap;
    }


    .department-button:hover {
        background-color: #ffffff;
    }


    .department-container {
        display: flex;
        overflow-x: auto;
        padding-bottom: 10px;
        margin-top: 10px;
    }


    .department-container::-webkit-scrollbar {
        display: none;
    }


    .department-container {
        scrollbar-width: none;
    }


    .field-item {
        min-width: 120px;
        background-color: #333;
        padding: 5px 10px;
        margin-right: 10px;
        border-radius: 10px;
        white-space: nowrap;
    }

        .doctor-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        justify-content: space-between;
    }


    .doctor-box {
        border-radius: 10px;
        background-color:#efefef;
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
        height:70px;
        border: #25C88D;

    }

    .appointments-box {
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 16px;
        background-color: #efefef;
        color: #333333;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-right: 10px;
        height:140px;
        width:250px;
        display: flex;
       align-items: center;
    }


    .appointment-container {
        display: flex;

        padding-bottom: 10px;

    }


    .appointment-container::-webkit-scrollbar {
        display: none;
    }




.appointments-box {
    display: flex;

    flex-direction: column;
    margin-top: 10px;
}

.small-box {
   width: 60px;
    height: 40px;
    background-color: #efefef;
    margin-right: 10px;
    border-radius: 10px;
}

.small-box img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}


.appointment-details {
    display: flex;
    flex-direction: column;
    font-size:10px;
}


.doctor-info {
    display: flex;
    font-size:10px;
}

.doctor-initials {
    font-weight: bold;
    font-size: 16px;
    margin-right: 5px;
}


.name {
    white-space: nowrap;
   text-align:center;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color:#007ab4;
}


.departments {
    color: #007ab4;
    margin-top: 10px;
    font-size: 12px;
    white-space: nowrap;
}
.rating {
    color: #007ab4;
        margin-left: 50px;
            white-space: nowrap;
            margin-top: 10px;
        font-size: 12px;
}





.time-icon {
    color: #007ab4;
    display: flex;
    align-items: center;
    font-size: 15px;
    height:40px;
}

.fa {
    font-size: 14px;
    margin-right: 5px;
}

.doctor-information {
    display: flex;


}
.image-box {
   width: 60px;
    height: 50px;
    background-color: #efefef;
    margin-right: 10px;
    border-radius: 10px;
}
.image-box img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.image-box1 {
   width: 60px;
    height: 50px;
    background-color: white;
    margin-right: 10px;
    border-radius: 10px;
}
.image-box1 img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
/* Styling for the doctor's name */
.doctor-information .doctor-name {
    font-size: 16px;
    font-weight: bold;
    color:#007ab4;
}
.doctor-information .doctor-rating {
    font-size: 16px;

    margin-left: 10px;
    color:#007ab4;
}

/* Styling for the department name */
.doctor-information .department-name {
    color: #007bff;
    font-size: 12px;
    color:#007ab4;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  color:#007ab4;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
   position: absolute;
    top: 10px;
    right: 10px;;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#doctorImage img {
  max-width: 80%;
  max-height: 100px; /* Adjust the height as needed */
  display: block;

}

/* Styling for the "Schedule a Meeting" button in the modal */
#myButton {
   display: inline-block;
  padding: 10px 20px;
  background-color: #007ab4;
  color: #fff;
  width:100%;
  text-align: center;
  text-decoration: none;
  height:35px;
  border-radius: 25px; /* Adjust the value to control the amount of curvature */
  transition: background-color 0.3s ease;
  line-height: 14px;
  margin: 0 auto;
}
.myButton:hover {
  background-color: #007ab4; /* Change the background color on hover */
}


 .meeting-box {
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 16px;
        background-color: #efefef;
        color: #333333;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-right: 10px;
        height:180px;
        width:250px;
        display: flex;
       align-items: center;
    }


    .meeting-container {
        display: flex;

        padding-bottom: 10px;

    }


    .meeting-container::-webkit-scrollbar {
        display: none;
    }




.meeting-box {
    display: flex;

    flex-direction: column;
    margin-top: 10px;
}

.meeting-details {
    display: flex;
    flex-direction: column;
    font-size:10px;
}
.join_button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007ab4;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border:#007ab4;
  height:35px;
  border-radius: 25px; /* Adjust the value to control the amount of curvature */
  transition: background-color 0.3s ease;
  line-height: 14px;
}

.join_button:hover {
  background-color: #007ab4; /* Change the background color on hover */
}
.time-join-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-end {
    text-align: right !important;
    color: #007ab4;
}

.app_card {
    background: #efefef;
    height: 100%;
    box-shadow: 0px 6px 6px -9px;
    border-radius: 10px;
}