.field-login label{
    font-weight: normal !important;
    font-size:16px;
}
.field-password label{
    font-weight: normal !important;
    font-size:16px;
}
.form-control{
    border-radius:10px !important;
    background-color: #eeeeee;
    border: 0px !important;
    color: #25C88D !important;
    font-size:16px;
}
.form-control:focus{
    border-radius:10px !important;
    background-color: #eeeeee !important;
    border:0px !important;
    color:  #25C88D !important;
    box-shadow:none !important;
}
::placeholder {
    color:  #25C88D !important;
    opacity: 1;
}
.button_login{
    width: 50% !important;
    padding:10px;
    border-radius:10px;
    background-color: #25C88D !important;
    border:0px;
}
.alert-danger{
    border-radius: 10px;
    border: 0px !important;
    padding:10px;
}
.oe_login_form, .oe_signup_form, .oe_reset_password_form{
    max-width:none !important;
    padding-left:25px;
    padding-right:25px;
}


