.field-login label{
    font-weight: normal !important;
    font-size:15px;
    color:#007ab4;
}
.field-password label,.col-form-label, label{
    font-weight: normal !important;
    font-size:15px;
     color:#007ab4;
}
.form-control,.form-select{
    border-radius:10px !important;
    background-color: white;
    border: 0px !important;
    font-size:14px;

}
.form-control:focus{
    border-radius:10px !important;
    background-color: white !important;
    border:0px !important;
    box-shadow:none !important;
    box-shadow: 0px 6px 6px -9px;
}
::placeholder {
    color:  #eeeeee !important;
    opacity: 1;
}
.button_login{
    width: 50% !important;
    padding:10px;
    border-radius:10px;
    color:#333333 !important;
    background-color: #007ab4 !important;
    border:0px;
    box-shadow: 0px 6px 6px -9px;
}
.alert-danger,.alert-success{
    border-radius: 10px;
    border: 0px !important;
    padding:10px;
}
.oe_login_form, .oe_signup_form, .oe_reset_password_form{
    max-width:none !important;
    padding-left:25px;
    padding-right:25px;
}
a {
    text-decoration: none;
    color: #007ab4;
}


