
.form-control:disabled, .form-control.o_wysiwyg_loader, .form-control[readonly] {
    background-color: white;
    opacity: 1;
}
  .custom-card-body {
                    background-color:   #f8f8fa !important; ;
                    padding: 15px;
                }

                  .form-group {
        margin-bottom: 20px; /* Adjust the value as needed */
    }
    .hidden {
    display: none;
}


