.button_signup{
    width: 50% !important;
    padding:10px;
    font-size:17px;
    border-radius:10px;
    background-color: #007ab4; !important;
    border:0px;
    color:white;
}
.field-name label{
    font-weight: normal !important;
    font-size:17px;
    color:#007ab4;
}
.field-confirm_password label{
    font-weight: normal !important;
    font-size:17px;
     color:#007ab4;

}
.form-control, .form-select {
    border-radius: 0px !important;
    background-color: white;
      border: 1px solid #007ab4 !important;
    font-size: 17px;
}