/* Base styles for all screen sizes */
.user-information {
    display: flex;
    flex-wrap: wrap;

}

.user-container {
    margin-top: 10px;
    width: 100%;
}

.user-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 2px solid #25C88D;
}

.name-doc,
.appointment-time,
.age {
    font-size: 17px;

    display:inline-block;
    color: #007ab4;
    margin-left: 10px;
}
.name-doc{
margin-left:2px;

}

.user-image-box {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
     overflow: hidden;
}

.user-image-box img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.appointment-time {
    margin-left: 10px;
}
  .no-appointments-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .no-appointments-text {
        text-align: center;
        font-size: 17px;
        color: #007ab4;
    }


  .rounded-button {
        border: none;
        padding: 10px 40px; /* Adjust the padding to control the button's width */
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s;
        color: white;
        position: absolute;
        top: 10px;
        width: 50%;
        height:40px;
    }


    .left-button {
        background-color: #007ab4;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        left: 10px;
         color:white/* Position the "Upcoming" button on the left */
    }

    .right-button {
        background-color: #007ab4;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        left: 40%;
        color:white;/* Position the "Previous" button to the right */
    }

     .button-container {
        position: relative;
        width: 100%;
    }

    /* Add a more specific selector for the active button */
    .button-container .active-button {
        background-color: #ccc !important;
        color: #007ab4 !important;
        z-index: 2;
    }


     .appointment-box-details {
        background-color: white;
        border: 1px solid #e0e0e0;
        padding: 10px;
        margin-bottom: 20px;
        position: relative;
         border-radius: 10px;
    }

    .appointment-box-details::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        background-color: #4caf50;

    }
     .underline {
        border-bottom: 1px solid #4caf50; /* Green underline */
        margin-bottom: 10px;
    }

     .label-time {
        font-weight: bold;
    }

    .time-icon {
        display: block;
        flex-direction: column;
        align-items: start;
    }













